files: \.(json|py|txt|yaml)$
repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    - id: pretty-format-json
      args:
      - "--autofix"
      - "--no-ensure-ascii"
      - "--indent=4"
      - "--no-sort-keys"
    - id: check-ast
    - id: requirements-txt-fixer
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

-   repo: https://github.com/hadialqattan/pycln
    rev: v2.1.3
    hooks:
    - id: pycln

-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.228
    hooks:
    - id: ruff
      args: [--fix, --target-version, "py311", --extend-ignore, "F841,E501"]

-   repo: https://github.com/pycqa/isort
    rev: 5.11.4
    hooks:
    - id: isort
      args: [--profile, "black"]

-   repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
    - id: add-trailing-comma
